﻿
@{
    ViewBag.Title = "Book_appointment";
    ViewBag.user_type = "Recepcionista";
}

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Agendar consulta</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="@Url.Action("Sair", "Home")">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="">Consulta</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Agendar consulta</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Agendar consulta</header>
                    </div>
                    <div class="card-body" id="bar-parent">
                        <form action="#" id="form_sample_1" class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Título
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <input type="text" name="title" data-required="1" placeholder="Entre com o título" class="form-control input-height" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Data da consulta
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                            <input class="form-control input-height" size="16" placeholder="Data da consulta" type="text" value="">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input2" value="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Das
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input type="time" name="horario_inicial" data-required="1" placeholder="Ex: 13:45" class="form-control input-height" id="example-time-input">
                                            </div>

                                            <label class="control-label small-label col-md-2">Até</label>
                                            <div class="col-md-5">
                                                <input type="time" name="horario_final" data-required="1" placeholder="Ex: 14:15" class="form-control input-height" id="example-time-input2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Consulting Doctor
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <select class="form-control input-height" name="select">
                                            <option value="">Select...</option>
                                            <option value="Category 1">Dr. Rajesh</option>
                                            <option value="Category 2">Dr. Sarah Smith</option>
                                            <option value="Category 3">Dr. John Deo</option>
                                            <option value="Category 3">Dr. Jay Soni</option>
                                            <option value="Category 3">Dr. Jacob Ryan</option>
                                            <option value="Category 3">Dr. Megha Trivedi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Injury/Condition
                                    </label>
                                    <div class="col-md-5">
                                        <input name="creditcard" type="text" placeholder="Injury/Condition" class="form-control input-height" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Therapy Started Date
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                            <input class="form-control input-height" size="16" placeholder="date of appointment" type="text" value="">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input3" value="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Note
                                    </label>
                                    <div class="col-md-5">
                                        <textarea name="address" class="form-control-textarea" placeholder="note" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="offset-md-3 col-md-9">
                                        <button type="submit" class="btn btn-info m-r-20">Submit</button>
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->