﻿@model SIS.Models.Users.Patient

@{
    ViewBag.Title = "Cadastrar paciente";
    ViewBag.user_type = "Recepcionista";
}

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Cadastrar paciente</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="@Url.Action("Sair", "Home")">Sair</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="">Pacientes</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Cadastrar paciente</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Formulário de cadastro</header>
                    </div>
                    <div class="card-body" id="bar-parent2">
                        @using (Html.BeginForm("Register_patient", "Receptionist", FormMethod.Post, new { id = "form_sample_2", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-body">
                                <h3>Dados Pessoais</h3>
                                <div class="form-group row  margin-top-20">
                                    <label class="control-label col-md-3">
                                        RG
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
                                            <i class="fa"></i>*@
                                        <input type="text" class="form-control" name="id" data-mask="99.999.999-9" />
                                        @Html.HiddenFor(m => m.Id)
                                        <span class="help-block" style="display: none;">Digite o seu RG</span>
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        CPF
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="cpf" data-mask="999.999.999-99" />
                                        @Html.HiddenFor(m => m.Cpf)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Nome
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" class="form-control" name="nome" maxlength="30" />
                                        @Html.HiddenFor(m => m.Nome)
                                        <span class="help-block" style="display: none;">Digite o seu nome</span>
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Sobrenome
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" class="form-control" name="sobrenome" maxlength="80" />
                                        @Html.HiddenFor(m => m.Sobrenome)
                                        <span class="help-block" style="display: none;">Digite o seu sobrenome</span>
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 control-label">
                                        Data de nascimento
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" id="date" class="form-control" name="data_nascimento">
                                        @Html.HiddenFor(m => m.Data_nascimento)
                                        <span class="help-block" style="display: none;">Insira a sua data de nascimento</span>
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 control-label">
                                        Sexo
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="radioicon-group">
                                            <div class="radioicon radioicon-red">
                                                <input type="radio" name="sex" id="rb_female" value="Feminino" />
                                                <label for="rb_female">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-circle"></i>
                                                    </span> Feminino
                                                </label>
                                                &nbsp;&nbsp;&nbsp;
                                                <input type="radio" name="sex" id="rb_male" value="Masculino" />
                                                <label for="rb_male">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-circle"></i>
                                                    </span> Masculino
                                                </label>
                                                &nbsp;&nbsp;&nbsp;
                                                <input type="radio" name="sex" id="rb_another_sex" value="Outro" />
                                                <label for="rb_another_sex">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-circle"></i>
                                                    </span> Outro
                                                </label>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(m => m.Sexo)
                                        <span class="help-block" style="display: none;">Escolha o seu sexo</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Nome da mãe
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" class="form-control" name="nome_mae" maxlength="100" />
                                        @Html.HiddenFor(m => m.Nome_mae)
                                        <span class="help-block" style="display: none;">Digite o nome da sua mãe</span>
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Nome do pai
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" class="form-control" name="nome_pai" maxlength="100" />
                                        @Html.HiddenFor(m => m.Nome_pai)
                                        <span class="help-block" style="display: none;">Digite o nome do seu pai</span>
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Foto de perfil
                                    </label>
                                    <div class="col-md-4">
                                        <div class="compose-editor">
                                            <input type="file" name="foto" class="default">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <h3>Dados Médicos</h3>
                                <div class="form-group row  margin-top-20">
                                    <label class="control-label col-md-3">
                                        Grupo sanguíneo
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select id="grupo_sanguineo" class="form-control select2">
                                            <option value="">Selecione...</option>
                                            <optgroup label="Grupo sanguíneo">
                                                <option value="A+">A+</option>
                                                <option value="A-">A-</option>
                                                <option value="B+">B+</option>
                                                <option value="B-">B-</option>
                                                <option value="AB+">AB+</option>
                                                <option value="AB-">AB-</option>
                                                <option value="O+">O+</option>
                                                <option value="O-">O-</option>
                                            </optgroup>
                                        </select>
                                        @Html.HiddenFor(m => m.Grupo_sanguineo)
                                        <span class="help-block" style="display: none;">Escolha o seu grupo sanguíneo</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        É deficiente?
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="radioicon-group">
                                            <div class="radioicon radioicon-red">
                                                <input type="radio" name="disability" id="rb_have_disability" />
                                                <label for="rb_have_disability">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-circle"></i>
                                                    </span> <b>Sou</b> deficiente
                                                </label>
                                                &nbsp;&nbsp;&nbsp;
                                                <input type="radio" name="disability" id="rb_no_disability" />
                                                <label for="rb_no_disability">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-circle"></i>
                                                    </span> <b>Não</b> sou deficiente
                                                </label>
                                            </div>
                                        </div>
                                        <span class="help-block" style="display: none;">Escolha a opção que corresponda à sua situação</span>
                                    </div>
                                </div>
                                <div class="disability_hidden_div" style="display: none;">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">
                                            CID
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            @*<div class="input-icon right">
        <i class="fa"></i>*@
                                            <input type="text" class="form-control" @*name="name"*@ data-mask="a999" style="text-transform:uppercase;" />
                                            @Html.HiddenFor(m => m.Disability.Cid)
                                            <span class="help-block" style="display: none;">Digite o CID correspondente à sua deficiência</span>
                                            @*</div>*@
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">
                                            Tipo de deficiência
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <select class="form-control select2">
                                                <option value="">Selecione...</option>
                                                <optgroup label="Tipo de deficiência">
                                                    @foreach (var item in ViewBag.list_types_disability)
                                                    {
                                                        <option value="@item.Id">@item.Descricao</option>
                                                    }
                                                </optgroup>
                                            </select>
                                            @Html.HiddenFor(m => m.Disability.Tipo)
                                            <span class="help-block" style="display: none;">Escolha o tipo da sua deficiência</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        É alérgico?
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="radioicon-group">
                                            <div class="radioicon radioicon-red">
                                                <input type="radio" name="allergy" id="rb_have_allergy" />
                                                <label for="rb_have_allergy">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-circle"></i>
                                                    </span> <b>Sou</b> alérgico
                                                </label>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="radio" name="allergy" id="rb_no_allergy" />
                                                <label for="rb_no_allergy">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-circle"></i>
                                                    </span> <b>Não</b> sou alérgico
                                                </label>
                                            </div>
                                        </div>
                                        <span class="help-block" style="display: none;">Escolha a opção que corresponda à sua situação</span>
                                    </div>
                                </div>
                                <div class="type_allergy_hidden_div" style="display: none;">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">
                                            Tipo de alergia
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <select id="type_allergy" class="form-control select2">
                                                <option value="">Selecione...</option>
                                                <optgroup label="Tipo de alergia">
                                                    @foreach (var item in ViewBag.list_allergy_types)
                                                    {
                                                        <option value="@item.Id">@item.Descricao</option>
                                                    }
                                                </optgroup>
                                            </select>
                                            @Html.HiddenFor(m => m.Allergy.Tipo)
                                        </div>
                                    </div>
                                </div>
                                <div class="allergy_hidden_div" style="display: none;">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">
                                            Alergia
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="respiratory_allergy" style="display: none;">
                                                <select class="form-control select2">
                                                    <option value="">Selecione...</option>
                                                    <optgroup label="Alergia respiratória">
                                                        @foreach (var item in ViewBag.list_allergies)
                                                        {
                                                            if (item.Tipo.Id == 1)
                                                            {
                                                                <option value="@item.Id">@item.Descricao</option>
                                                            }
                                                        }
                                                    </optgroup>
                                                </select>
                                            </div>

                                            <div class="dermatological_allergy" style="display: none;">
                                                <select class="form-control select2">
                                                    <option value="">Selecione...</option>
                                                    <optgroup label="Alergia dermatológica">
                                                        @foreach (var item in ViewBag.list_allergies)
                                                        {
                                                            if (item.Tipo.Id == 2)
                                                            {
                                                                <option value="@item.Id">@item.Descricao</option>
                                                            }
                                                        }
                                                    </optgroup>
                                                </select>
                                            </div>

                                            <div class="food_allergy" style="display: none;">
                                                <select class="form-control select2">
                                                    <option value="">Selecione...</option>
                                                    <optgroup label="Alergia alimentar">
                                                        @foreach (var item in ViewBag.list_allergies)
                                                        {
                                                            if (item.Tipo.Id == 3)
                                                            {
                                                                <option value="@item.Id">@item.Descricao</option>
                                                            }
                                                        }
                                                    </optgroup>
                                                </select>
                                            </div>

                                            <div class="drug_allergy" style="display: none;">
                                                @*<div class="input-icon right">
            <i class="fa"></i>*@
                                                <input type="text" class="form-control" @*name="name"*@ maxlength="150" />
                                                @*</div>*@
                                            </div>

                                            <div class="eye_allergy" style="display: none;">
                                                <select class="form-control select2">
                                                    <option value="">Selecione...</option>
                                                    <optgroup label="Alergia ocular">
                                                        @foreach (var item in ViewBag.list_allergies)
                                                        {
                                                            if (item.Tipo.Id == 5)
                                                            {
                                                                <option value="@item.Id">@item.Descricao</option>
                                                            }
                                                        }
                                                    </optgroup>
                                                </select>
                                            </div>
                                            @Html.HiddenFor(m => m.Allergy.Id)
                                            @Html.HiddenFor(m => m.Allergy.Descricao)
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <h3>Dados Residenciais</h3>
                                <div class="form-group row  margin-top-20">
                                    <label class="control-label col-md-3">
                                        CEP
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" class="form-control" @*name="name"*@ data-mask="99999-999" />
                                        @Html.HiddenFor(m => m.Endereco.Cep)
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Estado
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control select2">
                                            <option value="">Selecione...</option>
                                            <optgroup label="Estado">
                                                <option value="AC">Acre</option>
                                                <option value="AL">Alagoas</option>
                                                <option value="AP">Amapá</option>
                                                <option value="AM">Amazonas</option>
                                                <option value="BA">Bahia</option>
                                                <option value="CE">Ceará</option>
                                                <option value="DF">Distrito Federal</option>
                                                <option value="ES">Espírito Santo</option>
                                                <option value="GO">Goiás</option>
                                                <option value="MA">Maranhão</option>
                                                <option value="MT">Mato Grosso</option>
                                                <option value="MS">Mato Grosso do Sul</option>
                                                <option value="MG">Minas Gerais</option>
                                                <option value="PA">Pará</option>
                                                <option value="PB">Paraíba</option>
                                                <option value="PR">Paraná</option>
                                                <option value="PE">Pernambuco</option>
                                                <option value="PI">Piauí</option>
                                                <option value="RJ">Rio de Janeiro</option>
                                                <option value="RN">Rio Grande do Norte</option>
                                                <option value="RS">Rio Grande do Sul</option>
                                                <option value="RO">Rondônia</option>
                                                <option value="RR">Roraima</option>
                                                <option value="SC">Santa Catarina</option>
                                                <option value="SP">São Paulo</option>
                                                <option value="SE">Sergipe</option>
                                                <option value="TO">Tocantins</option>
                                            </optgroup>
                                        </select>
                                        @Html.HiddenFor(m => m.Endereco.Estado)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Cidade
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" class="form-control" @*name="name"*@ maxlength="100" />
                                        @Html.HiddenFor(m => m.Endereco.Cidade)
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Bairro
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" class="form-control" @*name="name"*@ maxlength="100" />
                                        @Html.HiddenFor(m => m.Endereco.Bairro)
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Rua
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" class="form-control" @*name="name"*@ maxlength="150" />
                                        @Html.HiddenFor(m => m.Endereco.Rua)
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Número
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" class="form-control" @*name="number"*@ maxlength="5" />
                                        @Html.HiddenFor(m => m.Endereco.Numero)
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Complemento
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" maxlength="30" />
                                        @Html.HiddenFor(m => m.Endereco.Complemento)
                                    </div>
                                </div>
                                <br />
                                <h3>Dados Contatais</h3>
                                <div class="form-group row  margin-top-20">
                                    <label class="control-label col-md-3">
                                        E-mail
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="text" class="form-control" @*name="email"*@ maxlength="100" />
                                        @Html.HiddenFor(m => m.Email)
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Tipo de telefone
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select id="telephone_type" class="form-control select2">
                                            <option value="">Selecione...</option>
                                            <optgroup label="Tipo de telefone">
                                                <option value="Celular">Celular</option>
                                                <option value="Fixo">Fixo</option>
                                            </optgroup>
                                        </select>
                                        @Html.HiddenFor(m => m.Telefone.Tipo)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Número de telefone
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input id="field_for_viewing" type="text" class="form-control" disabled="disabled" />
                                        <div id="cell_phone" style="display: none;">
                                            @*<div class="input-icon right">
            <i class="fa"></i>*@
                                            <input type="text" class="form-control" @*name="name"*@ data-mask="(99) 99999-9999" />
                                            @*</div>*@
                                        </div>
                                        <div id="landline_phone" style="display: none;">
                                            @*<div class="input-icon right">
            <i class="fa"></i>*@
                                            <input type="text" class="form-control" @*name="name"*@ data-mask="(99) 9999-9999" />
                                            @*</div>*@
                                        </div>
                                        @Html.HiddenFor(m => m.Telefone.Numero)
                                    </div>
                                </div>
                                <br />
                                <h3>Dados para Acesso</h3>
                                <div class="form-group row  margin-top-20">
                                    <label class="control-label col-md-3">
                                        Senha
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
        <i class="fa"></i>*@
                                        <input type="password" class="form-control" @*name="name"*@ maxlength="50" />
                                        @Html.HiddenFor(m => m.Senha)
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Confirmar senha
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @*<div class="input-icon right">
                                            <i class="fa"></i>*@
                                            <input type="password" class="form-control" @*name="name"*@ maxlength="50" />
                                        @*</div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="offset-md-3 col-md-9">
                                    <button id="register_patient" type="submit" class="btn btn-info m-r-20">Cadastrar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->