﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>SIS • Página não encontrada</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<!-- icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="~/Content/assets/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
	<link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="~/Content/css/extra_pages.css">
	<!-- favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" /> 
</head>
<body>
    <div class="limiter">
		<div class="container-login100 page-background">
			<div class="wrap-login100">
				<form class="form-404" method="Login" action="~/Home">
					<span class="login100-form-logo">
						<img alt="" src="~/Content/img/my_images/bug.png">
					</span>
					<span class="form404-title p-b-34 p-t-27">
						Erro 404
					</span>
					<p class="content-404">A página que você está procurando não existe ou está indisponível.</p>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Voltar para a página inicial
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
    <!-- start js include path -->
    <script src="~/Content/assets/jquery.min.js" ></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js" ></script>
    <script src="~/Content/assets/login.js"></script>
    <!-- end js include path -->
</body>
</html>