﻿
@{
    ViewBag.Title = "Forgot_password";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>Recuperar conta • SIS</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/Content/assets/material/material.min.css">
    <!-- Theme Styles -->
    <link href="~/Content/css/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="~/Content/css/extra_pages.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Content/img/my_images/favicon/favicon.ico" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100 page-background">
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert alert-danger">
                        @ViewBag.Message
                    </div>
                }
                <div class="wrap-login100" style="margin: auto;">
                    @using (Html.BeginForm("Forgot_password", "Home", FormMethod.Post, new { @class = "login100-form validate-form" }))
                    {
                        @Html.AntiForgeryToken()

                        <span class="login100-form-logo">
                            <img alt="" src="~/Content/img/my_images/cadeado_icone.png">
                        </span>
                        <span class="login100-form-title  p-t-27">
                            Recuperar sua conta
                        </span>
                        <p class="text-left txt-small-heading">
                            Podemos ajudá-lo a redefinir sua senha. Primeiro, insira seu código de identificação e siga as intruções a seguir.
                        </p>
                        <div class="wrap-input100 validate-input" data-validate="Digite o seu código de identificação">
                            <input class="input100" type="text" name="username" placeholder="ID">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>
                        <div class="container-login100-form-btn">
                            @Html.ActionLink("Cancelar", "Login", "HomeController", new { @class = "login100-form-btn-simple" })
                            <button class="login100-form-btn">
                                Próximo
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/Content/assets/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/login.js"></script>
    <!-- end js include path -->
</body>
</html>