﻿@model SIS.ViewModel.UserViewModel

@{
    ViewBag.Title = "Forgot_password_options";

    /** DECLARAÇÃO E INICIALIZAÇÃO DAS VARIÁVEIS LOCAIS **/
    // --Declaração das variáveis locais--
    int counter;
    string telephoneRadioButton;
    string telephoneHiddenDiv, telephoneNumberSpan, telephoneInput;
    string telephoneErrorDiv, telephoneNumberErrorSpan;

    // --Inicialização dos valores das variáveis declaradas--
    // Contador que será responsável por tornar os elementos html dos telefones dinâmicos
    counter = 1;
    // Variável que irá armazenar o valor dinâmico do 'id' dos radio buttons dos telefones
    telephoneRadioButton = "rbTelephone" + counter.ToString();
    // Variável que irá armazenar o valor dinâmico da 'class' das divs escondidas dos telefones
    telephoneHiddenDiv = "telephone" + counter.ToString() + "HiddenDiv";
    // Variável que irá armazenar o valor dinâmico do 'id' dos spans que informarão os dois últimos números dos telefones
    telephoneNumberSpan = "telephone" + counter.ToString() + "NumberSpan";
    // Variável que irá armazenar o valor dinâmico do 'name' dos campos de inserção dos telefones
    telephoneInput = "telephone" + counter.ToString() + "Option";
    // Variável que irá armazenar o valor dinâmico da 'class' das divs de erro escondidas dos telefones
    telephoneErrorDiv = "telephone" + counter.ToString() + "ErrorDiv";
    // Variável que irá armazenar o valor dinâmico do 'id' dos spans de erro que informarão os dois últimos números dos telefones
    telephoneNumberErrorSpan = "telephone" + counter.ToString() + "NumberErrorSpan";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>Precisamos verificar sua identidade • SIS</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/Content/assets/material/material.min.css">
    <!-- Theme Styles -->
    <link href="~/Content/css/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="~/Content/css/extra_pages.css">
    <link rel="stylesheet" href="~/Content/css/forgot_password_extras.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Content/img/my_images/favicon/favicon.ico" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100 page-background">
            <div>
                <div id="alert" class="alert alert-danger" style="display: none;">
                    Para prosseguir selecione uma das opções de contato relacionadas abaixo.
                </div>
                <div class="wrap-login100" style="margin: auto;">
                    @using (Html.BeginForm("Forgot_password_options", "Home", FormMethod.Post, new { @class = "login100-form validate-form" }))
                    {
                        @Html.AntiForgeryToken()

                        <span class="login100-form-logo">
                            <img alt="" src="~/Content/img/my_images/cadeado_icone.png">
                        </span>
                        <span class="login100-form-title p-t-27">
                            Precisamos verificar sua identidade
                        </span>
                        <p class="text-left txt-small-heading">
                            Como deseja obter o código de segurança?
                        </p>

                        <input name="username" id="username" type="hidden" value=@Html.DisplayFor(model => model.Id) />
                        <input name="selectedContactOption" id="selectedContactOption" type="hidden" value="" />
                        <input name="informedData" id="informedData" type="hidden" value="" />

                        <div class="radio radio-red" style="color: #ffffff; font-size: 16px; padding-bottom: 12px; padding-left: 0px;">
                            <input name="contact" id="rbEmail" type="radio">
                            <label for="rbEmail">Email para @Html.DisplayFor(model => model.Email)</label>
                        </div>

                        <div class="emailHiddenDiv" style="display: none;">
                            <p class="text-left" style="color: #ffffff; font-size: 16px; line-height: 1.5;">
                                Para verificar se esse é o seu endereço de email, preencha a parte oculta e clique em "Enviar código" para receber o seu código.
                            </p>
                            <div class="emailErrorDiv" style="display: none;">
                                <p class="text-left" style="color: #FFD039; font-size: 16px; padding-top: 12px;">
                                    Isso não corresponde ao email associado com sua conta. O e-mail correto começa por "<span id="emailTextErrorSpan"></span>".
                                </p>
                            </div>
                            <div class="wrap-input100 col-lg-8" style="float: left;">
                                <input class="input100" type="text" name="emailOption">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 col-lg-4" style="float: left;">
                                <input class="input100" type="text" name="emailAddress" style="color: #cccccc; font-size: 15px; padding-left: 0px; padding-right: 0px;" disabled="disabled">
                                <span class="focus-input100"></span>
                            </div>
                        </div>

                        if (Model.TelephoneList != null)
                        {
                            foreach (var item in Model.TelephoneList)
                            {
                                <div class="radio radio-red" style="color: #ffffff; font-size: 16px; padding-bottom: 12px; padding-left: 0px;">
                                    <input name="contact" id=@telephoneRadioButton type="radio">
                                    <label for=@telephoneRadioButton>Mensagem para @Html.DisplayFor(modelItem => item.Numero)</label>
                                </div>

                                <div class=@telephoneHiddenDiv style="display: none;">
                                    <p class="text-left" style="color: #ffffff; font-size: 16px; line-height: 1.5; padding-bottom: 12px;">
                                        Para verificar que este é o seu número de telefone, insira os 4 últimos dígitos,
                                        incluindo <span id=@telephoneNumberSpan></span> e, em seguida, clique em "Enviar código" para receber o
                                        seu código.
                                    </p>
                                    <div class=@telephoneErrorDiv style="display: none;">
                                        <p class="text-left" style="color: #FFD039; font-size: 16px;">
                                            Isso não corresponde ao número de telefone associado à sua conta. O número correto termina em <span id=@telephoneNumberErrorSpan></span>.
                                        </p>
                                    </div>
                                    <div class="wrap-input100">
                                        <input class="input100" type="tel" name=@telephoneInput placeholder="4 últimos dígitos do número de telefone" maxlength="4" style="padding-left: 10px;">
                                        <span class="focus-input100"></span>
                                    </div>
                                </div>

                                counter++;
                                telephoneRadioButton = "rbTelephone" + counter.ToString();
                                telephoneHiddenDiv = "telephone" + counter.ToString() + "HiddenDiv";
                                telephoneNumberSpan = "telephone" + counter.ToString() + "NumberSpan";
                                telephoneInput = "telephone" + counter.ToString() + "Option";
                                telephoneErrorDiv = "telephone" + counter.ToString() + "ErrorDiv";
                                telephoneNumberErrorSpan = "telephone" + counter.ToString() + "NumberErrorSpan";
                            }
                        }
                        <br />
                        <div class="container-login100-form-btn">
                            @Html.ActionLink("Cancelar", "Login", "HomeController", new { @class = "login100-form-btn-simple" })
                            <button id="sendCode" class="login100-form-btn">
                                Próximo
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/Content/assets/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/login.js"></script>
    <script src="~/Content/assets/forgot_password_options.js"></script>
    <!-- end js include path -->
</body>
</html>