﻿@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>Entrar • SIS</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="~/Content/css/extra_pages.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Content/img/my_images/favicon/favicon.ico" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100 page-background">
            <div style="display: block;">
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert alert-danger">
                        @ViewBag.Message
                    </div>
                }
                    <div class="wrap-login100">
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "login100-form validate-form" }))
                        {
                            @Html.AntiForgeryToken()

                            <span class="login100-form-logo">
                                <img alt="" src="~/Content/img/my_images/logo.png">
                            </span>
                            <span class="login100-form-title p-b-34 p-t-27">
                                Log in
                            </span>
                            <div class="wrap-input100 validate-input" data-validate="Digite o seu código de identificação">
                                <input class="input100" type="text" name="username" placeholder="ID">
                                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Digite a sua senha">
                                <input class="input100" type="password" name="pass" placeholder="Senha">
                                <span class="focus-input100" data-placeholder="&#xf191;"></span>
                            </div>
                            <div class="contact100-form-checkbox">
                                @if (!string.IsNullOrEmpty(ViewBag.user_name) && !string.IsNullOrEmpty(ViewBag.user_password))
                                {
                                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="continuarConectado" checked>
                                }
                                else
                                {
                                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="continuarConectado">
                                }
                                <label class="label-checkbox100" for="ckb1">
                                    Mantenha-me conectado
                                </label>
                            </div>
                            <div class="text-left">
                                @Html.ActionLink("Esqueci minha senha", "Forgot_password", "HomeController", new { @class = "txt1" })
                            </div>
                            <div class="container-login100-form-btn p-t-30" >
                                <button class="login100-form-btn">
                                    Entrar
                                </button>
                            </div>
                        }
                    </div>
            </div>
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/Content/assets/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/login.js"></script>
    <!-- end js include path -->
</body>
</html>