﻿
@{
    ViewBag.Title = "Recovered_account";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>Sua conta foi recuperada • SIS</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/Content/assets/material/material.min.css">
    <!-- Theme Styles -->
    <link href="~/Content/css/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="~/Content/css/extra_pages.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Content/img/my_images/favicon/favicon.ico" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100 page-background">
            <div class="wrap-login100">
                @using (Html.BeginForm("Login", "Home", FormMethod.Get))
                {
                    @Html.AntiForgeryToken()

                    <span class="login100-form-logo">
                        <img alt="" src="~/Content/img/my_images/cadeado_icone.png">
                    </span>
                    <span class="login100-form-title p-t-27">
                        Sua conta foi recuperada
                    </span>
                    <p class="text-left txt-small-heading" style="padding-bottom: 0px;">
                        Agora você pode usar suas novas informações de segurança para acessar sua conta.
                    </p>
                    <p class="text-left txt-small-heading" style="padding-bottom: 0px;">
                        Aqui está um resumo do que você acabou de concluir:
                    </p>
                    <p class="text-left txt-small-heading" style="padding-bottom: 0px;">
                        <strong>Sua senha foi alterada</strong>
                    </p>
                    <div class="container-login100-form-btn p-t-30">
                        <button class="login100-form-btn">
                            Próximo
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/Content/assets/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/login.js"></script>
    <!-- end js include path -->
</body>
</html>