﻿
@{
    ViewBag.Title = "reset_password";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>Redefinir senha • SIS</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="~/Content/css/extra_pages.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Content/img/my_images/favicon/favicon.ico" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100 page-background">
            <div>
                <div id="alert" class="alert alert-danger" style="display: none;">
                    As senhas não coincidem.
                </div>
                <div class="wrap-login100" style="margin: auto;">
                    @using (Html.BeginForm("reset_password", "Home", FormMethod.Post, new { @class = "login100-form validate-form" }))
                    {
                        @Html.AntiForgeryToken()

                        <span class="login100-form-logo">
                            <img alt="" src="~/Content/img/my_images/logo.png">
                        </span>
                        <span class="login100-form-title p-b-34 p-t-27">
                            Redefinir sua senha
                        </span>

                        <input name="username" id="username" type="hidden" value=@ViewBag.Username />

                        <div class="wrap-input100 validate-input" data-validate="Digite a nova senha">
                            <input class="input100" type="password" name="newPassword" placeholder="Nova senha">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Redigite a nova senha">
                            <input class="input100" type="password" name="confirmation_newPassword" placeholder="Redigitar a senha">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <div class="container-login100-form-btn">
                            @Html.ActionLink("Cancelar", "Login", "HomeController", new { @class = "login100-form-btn-simple" })
                            <button id="changePassword" class="login100-form-btn">
                                Próximo
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/Content/assets/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/login.js"></script>
    <script src="~/Content/assets/reset_password.js"></script>
    <!-- end js include path -->
</body>
</html>