﻿
@{
    ViewBag.Title = "Verify_identity";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>Precisamos verificar sua identidade • SIS</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/assets/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="~/Content/css/extra_pages.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Content/img/my_images/favicon/favicon.ico" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100 page-background">
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert alert-danger">
                        @ViewBag.Message
                    </div>
                }
                <div class="wrap-login100" style="margin: auto;">
                    @using (Html.BeginForm("Verify_identity", "Home", FormMethod.Post, new { @class = "login100-form validate-form" }))
                    {
                        @Html.AntiForgeryToken()

                        <!--Os 'inputs' escondidos relacionados abaixo estão declarados somente para persistir os valores da 'ViewBag' caso
                            ao enviar os dados do formulário ao controlador essa mesma view seja requisitada novamente-->
                        <input name="typeData" id="typeData" type="hidden" value=@ViewBag.TypeData />
                        <input name="informedData" id="informedData" type="hidden" value=@ViewBag.InformedData />

                        <span class="login100-form-logo">
                            <img alt="" src="~/Content/img/my_images/cadeado_icone.png">
                        </span>
                        <span class="login100-form-title  p-t-27">
                            Verificar sua identidade
                        </span>
                        if (ViewBag.TypeData.Equals("Email"))
                        {
                            <p class="text-left txt-small-heading">
                                Se @ViewBag.InformedData corresponder ao endereço de email em sua conta,
                                enviaremos um código para você.
                            </p>
                        }
                        else
                        {
                            <p class="text-left txt-small-heading">
                                Se @ViewBag.InformedData corresponder aos últimos 4 dígitos do número de
                                telefone em sua conta, enviaremos um código para você.
                            </p>
                        }
                        <div class="codeErrorDiv" style="display: none;">
                            <p class="text-left" style="color: #FFD039; font-size: 16px;">
                            </p>
                        </div>

                        <input name="username" id="username" type="hidden" value=@ViewBag.Username />

                        <div class="wrap-input100 validate-input" data-validate="Digite o código recebido">
                            <input class="input100" type="text" name="informedCode" placeholder="Código" maxlength="7">
                            <span class="focus-input100" data-placeholder="&#xf1a6;"></span>
                        </div>
                        <div class="container-login100-form-btn">
                            @Html.ActionLink("Cancelar", "Login", "HomeController", new { @class = "login100-form-btn-simple" })
                            <button id="validateCode" class="login100-form-btn">
                                Próximo
                            </button>
                        </div>
                    }
                    <br />
                    @using (Html.BeginForm("Forgot_password", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <input name="username" id="username" type="hidden" value=@ViewBag.Username />

                        <div class="text-left">
                            <button class="txt1">
                                Usar outra opção de verificação
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/Content/assets/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/login.js"></script>
    <script src="~/Content/assets/verify_identity.js"></script>
    <!-- end js include path -->
</body>
</html>