﻿@model SIS.Models.Users.Administrator


@{
    ViewBag.Title = "Minha conta";
    ViewBag.user_type = "Administrador";
}}


<script>
    @*function pegaTipoUsuario()
    {
        var tipoUsuario = "Lorem Ipsum";
        if (!(tipoUsuario == null || tipoUsuario == ""))
        {
            if ("@SIS.Models.Users.Hospital.Exists(Request.Cookies.Get("nome").Value)" == "true")
            {
                tipoUsuario = "@Request.Cookies.Get("nome").Value"
            }
            else if ("@SIS.Models.Users.Person.GetTypeByName(Request.Cookies.Get("nome").Value)".length > 0)
            {
                tipoUsuario = "@SIS.Models.Users.Person.GetTypeByName(Request.Cookies.Get("nome").Value)";
            }
        }
        document.getElementById("tipoUsuario").textContent = tipoUsuario;
    }*@

    function insereFotoPerfil() {
        $.post("Home/CarregaFotoPerfil", { nomeUsuario: "@Html.DisplayFor(model => model.Nome)" + " " + "@Html.DisplayFor(model => model.Sobrenome)" }, function (data) {
            if (data.length > 0)
                document.getElementById('fotoPerfil').src = data;
        });
    }


    function insereInformacoesPessoa() {
        alert("Inserção de informações de pessoa!");
    }

    function insereInformacoesHospital() {
        alert("Inserção de informações de hospital!");
    }


</script>

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Perfil</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="Sair">Sair</a>&nbsp;<i class="fa fa-angle-right"></i>
                    <li class="active">Perfil</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <div class="card card-topline-aqua">
                        <div class="card-body no-padding height-9">
                            <div class="row">
                                <div class="profile-userpic">
                                    <img src="img/dp.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name"> @ViewBag.PessoaDoPerfil </div>
                                <div class="profile-usertitle-job" id="tipoUsuario"> @ViewBag.user_type </div>
                            </div>
                            <img id="fotoPerfil" src="~/Content/img/imgUsuario.jpg" style="width: 100%; border: 2px solid #949494; border-radius: 5px;" />

                            <br />
                            <br />
                            <br />

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Gênero </b>
                                    <div class="profile-desc-item pull-right">@Html.DisplayFor(model => model.Sexo)</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content" style="width:60%">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-head card-topline-aqua">
                                    <header>INFORMAÇÕES</header>
                                </div>
                                <div class="card-body no-padding height-9">
                                    <div class="container-fluid">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="activity-desk">
                                                    <h5><a href="">ID</a> <a class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Id)</a> </h5>
                                                    <h5><a href="">CPF</a> <a class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Cpf)</a> </h5>
                                                    <h5><a href="">Data de Nascimento</a> <a class="text-muted">&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Data_nascimento_Formatada)</a> </h5>
                                                    <h5><a href="">Email</a> <a class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Email)</a> </h5>
                                                    <h5>
                                                        <a href="">Endereço</a> <a class="text-muted">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Endereco_Formatado)
                                                        </a>
                                                    </h5>

                                                    <a href="">Telefones</a>
                                                    <ul>
                                                        @foreach (var item in Model.ListaTelefone)
                                                        {
                                                            <li>
                                                                <h5> <a class="text-muted">@Html.DisplayFor(modelItem => item.Numero) - @Html.DisplayFor(modelItem => item.Tipo)</a> </h5>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('fotoPerfil').src = "@SIS.Controllers.HomeController.CarregaFotoPerfil(Html.DisplayFor(model => model.Nome) + " " + Html.DisplayFor(model => model.Sobrenome))";
</script>
