﻿@model SIS.Models.Users.Hospital

@{
    Layout = "~/Views/Shared/blank_page.cshtml";
    ViewBag.Title = "Alteração de Dados";
    ViewBag.user_type = "Administrador";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Alterar dados</header>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        data-mdl-for="panel-button">
                        <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                        <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                        <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
                </div>
                <div class="card-body" id="bar-parent">
                    <form action="CadastrarHospital" id="form_sample_1" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="form-body">
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Cnes
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="cnes" id="cnes" data-required="1" placeholder="Cnes" class="form-control input-height" value="@Model.Cnes" disabled: disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Cnpj
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" name="cnpj" id="cnpj" data-required="1" placeholder="Cnpj" class="form-control input-height" value="@Model.Cnpj" disabled: disabled/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Nome
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" name="nome" id="nome" data-required="1" placeholder="Nome" class="form-control input-height" value="@Model.Nome_fantasia"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Razão Social
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" name="razaosocial" id="razaosocial" data-required="1" placeholder="Razão Social" class="form-control input-height" disabled: disabled value="@Model.Razao_social"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Email
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input type="text" class="form-control input-height" name="email" id="email" placeholder="Endereço de Email" value="@Model.Email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Telefone
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input name="telefonenumero" type="text" id="telefoneNumero" placeholder="Telefone" class="form-control input-height" value="@Model.Telefone.Numero"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Modelo Telefone
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control input-height" id="telefoneTipo" name="telefonetipo">
                                    <option value="">Selecione um modelo...</option>
                                    <option value="Fixo">Fixo</option>
                                    <option value="Móvel">Móvel</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Estado
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control input-height" id="Endereço" name="estado">
                                    <option value="">Selecione um estado...</option>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SE">SE</option>
                                    <option value="SP">SP</option>
                                    <option value="TO">TO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Cidade
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Endereço" name="cidade" value="@Model.Endereco.Cidade">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Bairro
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Endereço" name="bairro" value="@Model.Endereco.Bairro">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Rua
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Endereço" name="rua" value="@Model.Endereco.Rua">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                CEP
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Cep" name="cep" value="@Model.Endereco.Cep">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Número
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Número" name="endereconumero" value="@Model.Endereco.Numero">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Complemento
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="" name="complemento" value="@Model.Endereco.Complemento">
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="offset-md-3 col-md-9">
                                    <button type="submit" class="btn btn-info m-r-20">Cadastrar Hospital</button>
                                    <button type="button" class="btn btn-default">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
