﻿@model SIS.Models.Users.Hospital

@{
    ViewBag.Title = "Editar hospital";
    ViewBag.user_type = "Administrador";
}

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Editar Hospital</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="@Url.Action("Sair", "Home")">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="">Hospitais</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Editar hospital</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Formulário de cadastro</header>
                    </div>
                    <div class="card-body" id="bar-parent">
                        @using (Html.BeginForm("Edit_hospital", "Administrator", FormMethod.Post, new { id = "form_sample_1", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-body">
                                <h3>Dados Gerais</h3>
                                <div class="form-group row  margin-top-20">
                                    <label class="control-label col-md-3">
                                        CNES
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" maxlength="30" name="cnes" value="@Model.Cnes" disabled="disabled" />
                                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        CNPJ
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" data-mask="99.999.999/9999-99" name="cnpj" value="@Model.Cnpj" disabled="disabled" />
                                        @Html.HiddenFor(model => model.Cnpj)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Nome fantasia
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Nome_fantasia, new { htmlAttributes = new { type = "text", @class = "form-control", maxlength = "80" } })
                                        <span class="help-block" style="display: none;">Digite o seu nome</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Razão social
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Razao_social, new { htmlAttributes = new { type = "text", @class = "form-control", maxlength = "150", disabled="disabled" } })
                                        <span class="help-block" style="display: none;">Digite o seu sobrenome</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Foto de perfil
                                    </label>
                                    <div class="col-md-4">
                                        <div class="compose-editor">
                                            <input type="file" class="default" name="foto">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <h3>Dados sobre a localidade</h3>
                                <div class="form-group row  margin-top-20">
                                    <label class="control-label col-md-3">
                                        CEP
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" data-mask="99999-999" name="cep" value="@Html.DisplayFor(model => model.Endereco.Cep)" />
                                        @Html.HiddenFor(model => model.Endereco.Cep)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Estado
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control select2">
                                            <option value="">Selecione...</option>
                                            <optgroup label="Estado">
                                                <option value="AC">Acre</option>
                                                <option value="AL">Alagoas</option>
                                                <option value="AP">Amapá</option>
                                                <option value="AM">Amazonas</option>
                                                <option value="BA">Bahia</option>
                                                <option value="CE">Ceará</option>
                                                <option value="DF">Distrito Federal</option>
                                                <option value="ES">Espírito Santo</option>
                                                <option value="GO">Goiás</option>
                                                <option value="MA">Maranhão</option>
                                                <option value="MT">Mato Grosso</option>
                                                <option value="MS">Mato Grosso do Sul</option>
                                                <option value="MG">Minas Gerais</option>
                                                <option value="PA">Pará</option>
                                                <option value="PB">Paraíba</option>
                                                <option value="PR">Paraná</option>
                                                <option value="PE">Pernambuco</option>
                                                <option value="PI">Piauí</option>
                                                <option value="RJ">Rio de Janeiro</option>
                                                <option value="RN">Rio Grande do Norte</option>
                                                <option value="RS">Rio Grande do Sul</option>
                                                <option value="RO">Rondônia</option>
                                                <option value="RR">Roraima</option>
                                                <option value="SC">Santa Catarina</option>
                                                <option value="SP">São Paulo</option>
                                                <option value="SE">Sergipe</option>
                                                <option value="TO">Tocantins</option>
                                            </optgroup>
                                        </select>
                                        @Html.HiddenFor(model => model.Endereco.Estado)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Cidade
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Endereco.Cidade, new { htmlAttributes = new { type = "text", @class = "form-control", maxlength = "100" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Bairro
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Endereco.Bairro, new { htmlAttributes = new { type = "text", @class = "form-control", maxlength = "100" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Rua
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Endereco.Rua, new { htmlAttributes = new { type = "text", @class = "form-control", maxlength = "150" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Número
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Endereco.Numero, new { htmlAttributes = new { type = "text", @class = "form-control", maxlength = "5" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Complemento
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Endereco.Complemento, new { htmlAttributes = new { type = "text", @class = "form-control", maxlength = "30" } })
                                    </div>
                                </div>
                                <br />
                                <h3>Dados Contatais</h3>
                                <div class="form-group row  margin-top-20">
                                    <label class="control-label col-md-3">
                                        E-mail
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "text", @class = "form-control", maxlength = "100" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Tipo de telefone
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select id="telephone_type" class="form-control select2">
                                            <option value="">Selecione...</option>
                                            <optgroup label="Tipo de telefone">
                                                <option value="Celular">Celular</option>
                                                <option value="Fixo">Fixo</option>
                                            </optgroup>
                                        </select>
                                        @Html.HiddenFor(m => m.Telefone.Tipo)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Número de telefone
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input id="field_for_viewing" type="text" class="form-control" disabled="disabled" />
                                        <div id="cell_phone" style="display: none;">
                                            <input type="text" class="form-control" @*name="name"*@ data-mask="(99) 99999-9999" />
                                        </div>
                                        <div id="landline_phone" style="display: none;">
                                            <input type="text" class="form-control" @*name="name"*@ data-mask="(99) 9999-9999" />
                                        </div>
                                        @Html.HiddenFor(m => m.Telefone.Numero)
                                    </div>
                                </div>
                                <br />
                                <h3>Dados para Acesso</h3>
                                <div class="form-group row  margin-top-20">
                                    <label class="control-label col-md-3">
                                        Senha
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { type = "password", @class = "form-control", maxlength = "50" } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="offset-md-3 col-md-9">
                                    <button id="edit_hospital" type="submit" class="btn btn-info m-r-20">Editar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->