﻿@model SIS.Models.Users.Agenda.Exame

@{
    ViewBag.Title = "Completar exame";
    ViewBag.User = "Recepcionista";
    ViewBag.user_type = "Médico";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Conclusão do exame</header>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            data-mdl-for="panel-button">
                            <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                            <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body" id="bar-parent">
                        <form action="Register_appointment" id="form_sample_1" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <br />
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Observações
                                    </label>
                                    <div class="col-md-5">
                                        <input type="text" name="observacao" id="observacao" data-required="1" placeholder="Observações" class="form-control input-height" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Resultado do exame
                                </label>
                                <input type="file" id="foto" class="default" name="foto">
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="offset-md-3 col-md-9">
                                        <button type="submit" class="btn btn-info m-r-20">Agendar consulta</button>
                                        <button type="button" class="btn btn-default">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>