﻿@model IEnumerable<SIS.Models.Users.Agenda.Exame>

@{
    ViewBag.Title = "Minha conta";
    ViewBag.user_type = "Médico";
}}

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">

        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Perfil</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="Sair">Sair</a>&nbsp;<i class="fa fa-angle-right"></i>
                    <li class="active">Agenda</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">
                    <div class="tab-content">
                        <div class="tab-pane active fontawesome-demo" id="tab1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-topline-red">
                                        <div class="card-head">
                                            <header></header>
                                            <div class="tools">
                                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                            </div>
                                        </div>
                                        <div class="card-body ">
                                            <div class="table-scrollable">
                                                <table class="table table-hover table-checkable order-column full-width" id="example4">
                                                    <thead>
                                                        <tr>
                                                            <th style="min-width:300px"> @Html.DisplayNameFor(model => model.Descricao) </th>
                                                            <th> @Html.DisplayNameFor(model => model.Observacoes) </th>
                                                            <th> Consulta </th>
                                                            <th> @Html.DisplayNameFor(model => model.Concluido) </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr class="odd gradeX">
                                                                <td> @Html.DisplayFor(modelItem => item.Descricao) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.Observacoes) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.Consulta.Titulo) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.Concluido) </td>
                                                                <td>
                                                                    <a href="@Url.Action("View_Exame", "Doctor", new { id = item.ID })" class="btn btn-primary btn-x">
                                                                        <i class="material-icons">assignment</i>
                                                                    </a>
                                                                    @if (!item.Concluido)
                                                                    {
                                                                        <a href="@Url.Action("Finish_Exame", "Doctor", new { id = item.ID })" class="btn btn-primary btn-xs">
                                                                            <i class="fa fa-pencil"></i>
                                                                        </a>
                                                                        <a href="@Url.Action("Remove_Exame", "Doctor", new { id = item.ID })" class="btn btn-danger btn-xs">
                                                                            <i class="fa fa-trash-o "></i>
                                                                        </a>
                                                                    }

                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->