﻿@model IEnumerable<SIS.Models.Users.Patient>

@{
    ViewBag.Title = "Listar pacientes";
    ViewBag.user_type = "Médico";
}

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Listar Pacientes</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="@Url.Action("Sair", "Home")">Sair</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="">Pacientes</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Listar pacientes</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">
                    <ul class="nav customtab nav-tabs" role="tablist">
                        <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">Ver lista</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active fontawesome-demo" id="tab1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-topline-red">
                                        <div class="card-head">
                                            <header></header>
                                            <div class="tools">
                                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                            </div>
                                        </div>
                                        <div class="card-body ">
                                            <div class="table-scrollable">
                                                <table class="table table-hover table-checkable order-column full-width" id="example4">
                                                    <thead>
                                                        <tr>
                                                            <th> @Html.DisplayNameFor(model => model.Id) </th>
                                                            <th> @Html.DisplayNameFor(model => model.Cpf) </th>
                                                            <th> @Html.DisplayNameFor(model => model.Nome) </th>
                                                            <th> @Html.DisplayNameFor(model => model.Sobrenome) </th>
                                                            <th> @Html.DisplayNameFor(model => model.Data_nascimento) </th>
                                                            <th> @Html.DisplayNameFor(model => model.Sexo) </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr class="odd gradeX">
                                                                <td> @Html.DisplayFor(modelItem => item.Id) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.Cpf) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.Nome) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.Sobrenome) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.Data_nascimento) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.Sexo) </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->