﻿@model SIS.Models.Users.Agenda.Exame


@{
    ViewBag.Title = "Minha conta";
    ViewBag.user_type = "Médico";
}}

<script>


    function insereFotoPerfil()
    {
        $.post("Home/CarregaFotoPerfil", { nomeUsuario: "@Html.DisplayFor(model => model.) + " " + @Html.DisplayFor(model => model.Sobrenome)" }, function (data)
        {
            if (data.length > 0)
                document.getElementById('fotoPerfil').src = data;
        });
    }


    function insereInformacoesPessoa()
    {
        alert("Inserção de informações de pessoa!");
    }

    function insereInformacoesHospital()
    {
        alert("Inserção de informações de hospital!");
    }


</script>

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">

        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Perfil</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="Sair">Sair</a>&nbsp;<i class="fa fa-angle-right"></i>
                    <li class="active">Perfil</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content" style="width:60%">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-head card-topline-aqua">
                                    <header>INFORMAÇÕES</header>
                                </div>
                                <div class="card-body no-padding height-9">
                                    <div class="container-fluid">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img id="fotoPerfil" src="~/Content/img/imgUsuario.jpg" style="width: 25%; border: 2px solid #949494; border-radius: 5px;" />

                                                <div class="activity-desk">
                                                    <h5><a href="">Descrição</a> <a class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Descricao)</a> </h5>
                                                    <h5><a href="">Observações</a> <a class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Observacoes)</a> </h5>
                                                    <h5><a href="">Consulta</a> <a class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Consulta.Titulo)</a> </h5>
                                                    <h5><a href="">Concluido</a> <a class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Concluido)</a> </h5>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
    document.getElementById('fotoPerfil').src = "@SIS.Controllers.HomeController.CarregaFotoPerfil(Html.DisplayFor(model => model.Nome) + " " + Html.DisplayFor(model => model.Sobrenome))";
</script>*@
