﻿
@{
    Layout = "~/Views/Shared/blank_page.cshtml";
    ViewBag.Title = "Hospital";
    ViewBag.user_type = "Hospital";
}

<body>
    <div class="telafundo">
        <img src="~/Content/img/fundotelas/hospital.jpg" style="width: 90%; height: 60%;" />
    </div>
</body>
