﻿@model SIS.Models.Users.Receptionist

@{
    Layout = "~/Views/Shared/blank_page.cshtml";
    ViewBag.Title = "Cadastro Recepcionista";
    ViewBag.user_type = "Hospital";
}

<div class="page-content">
    <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class=" pull-left">
                <div class="page-title">Cadastro de Recepcionistas</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="Hospital">Início</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Cadastro de Recepcionistas</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Informações para cadastro</header>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        data-mdl-for="panel-button">
                        <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                        <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                        <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
                </div>
                <div class="card-body" id="bar-parent">
                    <form action="Register_receptionist" id="form_sample_1" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="form-body">
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    ID
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="id" id="id" data-required="1" placeholder="ID" class="form-control input-height" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Cpf
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" name="cpf" id="cpf" data-required="1" placeholder="Cpf" class="form-control input-height" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Nome
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" name="nome" id="nome" data-required="1" placeholder="Nome" class="form-control input-height" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Sobrenome
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" name="sobrenome" id="sobrenome" data-required="1" placeholder="Sobrenome" class="form-control input-height" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Data de Nascimento
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control input-height" size="16" placeholder="Data de Nascimento" type="text" value="" name="datanascimento">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <input name="data_nascimento" type="hidden" @*id="dtp_input2"*@ id="datanascimento" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Sexo
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control input-height" id="sexo" name="sexo">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Foto
                                <span class="required"> * </span>
                            </label>
                            <div class="compose-editor">
                                <input type="file" id="foto" class="default" name="foto">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Email
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="text" class="form-control input-height" name="email" id="email" placeholder="Endereço de Email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Senha
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    </span>
                                    <input type="text" class="form-control input-height" name="senha" id="senha" placeholder="Senha">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Nível de Acesso
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input name="nivel_acesso" type="text" id="nivel_acesso" placeholder="Nível de Acesso" class="form-control input-height" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Telefone
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input name="telefonenumero" type="text" id="telefonenumero" placeholder="Telefone" class="form-control input-height" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Modelo Telefone
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control input-height" id="telefonetipo" name="telefonetipo">
                                    <option value="Fixo">Fixo</option>
                                    <option value="Móvel">Móvel</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Estado
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control input-height" id="Endereço" name="estado">
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SE">SE</option>
                                    <option value="SP">SP</option>
                                    <option value="TO">TO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Cidade
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Cidade" name="cidade">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Bairro
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Bairro" name="bairro">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Rua
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Rua" name="rua">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                CEP
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Cep" name="cep">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Número
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Número" name="endereconumero">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Complemento
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-height" placeholder="Complemento" name="complemento">
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="offset-md-3 col-md-9">
                                    <button type="submit" class="btn btn-info m-r-20">Cadastrar Recepcionista</button>
                                    <button type="button" class="btn btn-default">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>