﻿input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cccccc;
    opacity: 0.9;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: #cccccc;
    opacity: 0.9;
}

input:-ms-input-placeholder { /* IE 10+ */
    color: #cccccc;
    opacity: 0.9;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #cccccc;
    opacity: 0.9;
}