﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>@ViewBag.Title • SIS</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/assets/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--bootstrap -->

    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/Content/assets/material/material.min.css">
    <link rel="stylesheet" href="~/Content/css/material_style.css">
    <!-- Theme Styles -->
    <link href="~/Content/css/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Content/img/my_images/favicon/favicon.ico" />
</head>
<!-- END HEAD -->
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
    <div class="page-wrapper">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- logo start -->
                <div class="page-logo">
                    <a href="@Url.Action("Index", "Home")">
                        <span class="logo-icon fa fa-stethoscope fa-rotate-45"></span>
                        <span class="logo-default">SIS</span>
                    </a>
                </div>
                <!-- logo end -->
                <ul class="nav navbar-nav navbar-left in">
                    <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                </ul>
                <!-- start mobile menu -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
                <!-- start header menu -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- start language menu -->
                        <!-- end language menu -->
                        <!-- start notification dropdown -->
                        <!-- end notification dropdown -->
                        <!-- start message dropdown -->
                        <!-- end message dropdown -->
                        <!-- start manage user dropdown -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle " src="img/dp.jpg" />
                                <span class="username username-hide-on-mobile"> Kiran </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="user_profile.html">
                                        <i class="icon-user"></i> Perfil
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-settings"></i> Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-directions"></i> Help
                                    </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="lock_screen.html">
                                        <i class="icon-lock"></i> Bloquear
                                    </a>
                                </li>
                                <li>
                                    <a href="login.html">
                                        <i class="icon-logout"></i> Sair
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end manage user dropdown -->												
                    </ul>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- start color quick setting -->
        <!-- end color quick setting -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                    <div id="remove-scroll" class="left-sidemenu">
                        <ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="sidebar-user-panel">
                                <div class="user-panel">
                                    <div class="pull-left image">
                                        <img src="~/Content/img/imgUsuario.jpg" class="img-circle user-img-circle" id="imgUsuario" alt="User Image" />
                                    </div>
                                    <div class="pull-left info">
                                        <p> @ViewBag.Username </p>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">dashboard</i>
                                    <span class="title">Dashboard</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link ">
                                            <span class="title">Dashboard 1</span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a href="dashboard2.html" class="nav-link ">
                                            <span class="title">Dashboard 2</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="dashboard3.html" class="nav-link ">
                                            <span class="title">Dashboard 3</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">email</i>
                                    <span class="title">Email</span>
                                    <span class="arrow"></span>
                                    <span class="label label-rouded label-menu deepPink-bgcolor">3</span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="email_inbox.html" class="nav-link ">
                                            <span class="title">Inbox</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="email_view.html" class="nav-link ">
                                            <span class="title">View Mail</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="email_compose.html" class="nav-link ">
                                            <span class="title">Compose Mail</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="#" class="nav-link nav-toggle">

                                    <i class="material-icons">assignment</i>
                                    <span class="title">Appointment</span><span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="schedule.html" class="nav-link ">
                                            <span class="title">Doctor Schedule</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="book_appointment.html" class="nav-link ">
                                            <span class="title">Book Appointment</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="book_appointment_material.html" class="nav-link ">
                                            <span class="title">Book Appointment Material</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="edit_appointment.html" class="nav-link ">
                                            <span class="title">Edit Appointment</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="view_appointment.html" class="nav-link ">
                                            <span class="title">View All Appointment</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item active open ">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">person</i>
                                    <span class="title">Doctors</span> <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="all_doctors.html" class="nav-link ">
                                            <span class="title">All Doctor</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="add_doctor.html" class="nav-link ">
                                            <span class="title">Add Doctor</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="add_doctor_material.html" class="nav-link ">
                                            <span class="title">Add Doctor Material</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="edit_doctor.html" class="nav-link ">
                                            <span class="title">Edit Doctor</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active open ">
                                        <a href="doctor_profile.html" class="nav-link ">
                                            <span class="title">About Doctor</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">group</i>
                                    <span class="title">Other Staff</span> <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="all_staffs.html" class="nav-link ">
                                            <span class="title">All Staff</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="add_staff.html" class="nav-link ">
                                            <span class="title">Add Staff</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="add_staff_material.html" class="nav-link ">
                                            <span class="title">Add Staff Material</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="edit_staff.html" class="nav-link ">
                                            <span class="title">Edit Staff</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="staff_profile.html" class="nav-link ">
                                            <span class="title">Staff Profile</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">accessible</i>
                                    <span class="title">Patients</span> <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="all_patients.html" class="nav-link ">
                                            <span class="title">All Patients</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="add_patient.html" class="nav-link ">
                                            <span class="title">Add Patient</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="add_patient_material.html" class="nav-link ">
                                            <span class="title">Add Patient Material</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="edit_patient.html" class="nav-link ">
                                            <span class="title">Edit Patient</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="patient_profile.html" class="nav-link ">
                                            <span class="title">Patient Profile</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">hotel</i>
                                    <span class="title">Room Allotment</span> <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="room_allotment.html" class="nav-link ">
                                            <span class="title">Alloted Rooms</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="add_room_allotment.html" class="nav-link ">
                                            <span class="title">New Allotment</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="add_room_allotment_material.html" class="nav-link ">
                                            <span class="title">New Allotment Material</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="edit_room_allotment.html" class="nav-link ">
                                            <span class="title">Edit Allotment</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">monetization_on</i>
                                    <span class="title">Payments</span> <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="payments.html" class="nav-link ">
                                            <span class="title">Payments</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="add_payment.html" class="nav-link ">
                                            <span class="title">Add Payments</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="invoice_payment.html" class="nav-link ">
                                            <span class="title">Patient Invoice</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="widget.html" class="nav-link nav-toggle">
                                    <i class="material-icons">widgets</i>
                                    <span class="title">Widget</span>
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">dvr</i>
                                    <span class="title">UI Elements</span>
                                    <span class="label label-rouded label-menu">10</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="ui_buttons.html" class="nav-link ">
                                            <span class="title">Buttons</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_tabs_accordions_navs.html" class="nav-link ">
                                            <span class="title">Tabs &amp; Accordions</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="sweet_alert.html" class="nav-link ">
                                            <span class="title">Alert</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_typography.html" class="nav-link ">
                                            <span class="title">Typography</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_icons.html" class="nav-link ">
                                            <span class="title">Icons</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_modal.html" class="nav-link ">
                                            <span class="title">Modals</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_panels.html" class="nav-link ">
                                            <span class="title">Panels</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_grid.html" class="nav-link ">
                                            <span class="title">Grids</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="calendar.html" class="nav-link ">
                                            <span class="title">Calender</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_tree.html" class="nav-link ">
                                            <span class="title">Tree View</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="ui_carousel.html" class="nav-link ">
                                            <span class="title">Carousel</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">store</i>
                                    <span class="title">Material Elements</span>
                                    <span class="label label-rouded label-menu deepPink-bgcolor">14</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="material_button.html" class="nav-link ">
                                            <span class="title">Buttons</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_tab.html" class="nav-link ">
                                            <span class="title">Tabs</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_chips.html" class="nav-link ">
                                            <span class="title">Chips</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_grid.html" class="nav-link ">
                                            <span class="title">Grid</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_icons.html" class="nav-link ">
                                            <span class="title">Icon</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_form.html" class="nav-link ">
                                            <span class="title">Form</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_datepicker.html" class="nav-link ">
                                            <span class="title">DatePicker</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_select.html" class="nav-link ">
                                            <span class="title">Select Item</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_loading.html" class="nav-link ">
                                            <span class="title">Loading</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_menu.html" class="nav-link ">
                                            <span class="title">Menu</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_slider.html" class="nav-link ">
                                            <span class="title">Slider</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_tables.html" class="nav-link ">
                                            <span class="title">Tables</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_toggle.html" class="nav-link ">
                                            <span class="title">Toggle</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="material_badges.html" class="nav-link ">
                                            <span class="title">Badges</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="material-icons">subtitles</i>
                                    <span class="title">Forms </span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="layouts_form.html" class="nav-link ">
                                            <span class="title">Form Layout</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="advance_form.html" class="nav-link ">
                                            <span class="title">Advance Component</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="wizard_form.html" class="nav-link ">
                                            <span class="title">Form Wizard</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="validation_form.html" class="nav-link ">
                                            <span class="title">Form Validation</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="editable_form.html" class="nav-link ">
                                            <span class="title">Editor</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="material-icons">list</i>
                                    <span class="title">Data Tables</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="basic_table.html" class="nav-link ">
                                            <span class="title">Basic Tables</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="advanced_table.html" class="nav-link ">
                                            <span class="title">Advance Tables</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="group_table.html" class="nav-link ">
                                            <span class="title">Grouping</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="tableData.html" class="nav-link ">
                                            <span class="title">Tables With Sourced Data</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">desktop_mac</i>
                                    <span class="title">Layout</span> <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="layout_boxed.html" class="nav-link ">
                                            <span class="title">Boxed</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="layout_full_width.html" class="nav-link ">
                                            <span class="title">Full Width</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="layout_right_sidebar.html" class="nav-link ">
                                            <span class="title">Right Sidebar</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="layout_collapse.html" class="nav-link ">
                                            <span class="title">Collapse Menu</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="layout_sidebar_hover_menu.html" class="nav-link ">
                                            <span class="title">Hover Sidebar Menu</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="layout_mega_menu.html" class="nav-link ">
                                            <span class="title">Mega Menu</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="material-icons">timeline</i>
                                    <span class="title">Charts</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="charts_echarts.html" class="nav-link ">
                                            <span class="title">eCharts</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="charts_morris.html" class="nav-link ">
                                            <span class="title">Morris Charts</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="charts_chartjs.html" class="nav-link ">
                                            <span class="title">Chartjs</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="material-icons">map</i>
                                    <span class="title">Maps</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="google_maps.html" class="nav-link ">
                                            <span class="title">Google Maps</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="vector_maps.html" class="nav-link ">
                                            <span class="title">Vector Maps</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="material-icons">description</i>
                                    <span class="title">Extra pages</span>
                                    <span class="label label-rouded label-menu purple-bgcolor">7</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="login.html" class="nav-link ">
                                            <span class="title">Login</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="sign_up.html" class="nav-link ">
                                            <span class="title">Sign Up</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="forgot_password.html" class="nav-link ">
                                            <span class="title">Forgot Password</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="user_profile.html" class="nav-link ">
                                            <span class="title">Profile</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="contact.html" class="nav-link ">
                                            <span class="title">Contact Us</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="lock_screen.html" class="nav-link ">
                                            <span class="title">Lock Screen</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="page-404.html" class="nav-link ">
                                            <span class="title">404 Page</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="page-500.html" class="nav-link ">
                                            <span class="title">500 Page</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="blank_page.html" class="nav-link ">
                                            <span class="title">Blank Page</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="material-icons">slideshow</i>
                                    <span class="title">Multi Level Menu</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a href="javascript:;" class="nav-link nav-toggle">
                                            <i class="fa fa-university"></i> Item 1
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="nav-item">
                                                <a href="javascript:;" class="nav-link nav-toggle">
                                                    <i class="fa fa-bell-o"></i> Arrow Toggle
                                                    <span class="arrow "></span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li class="nav-item">
                                                        <a href="javascript:;" class="nav-link">
                                                            <i class="fa fa-calculator"></i> Sample Link 1
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            <i class="fa fa-clone"></i> Sample Link 2
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            <i class="fa fa-cogs"></i> Sample Link 3
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="fa fa-file-pdf-o"></i> Sample Link 1
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="fa fa-rss"></i> Sample Link 2
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="fa fa-hdd-o"></i> Sample Link 3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:;" class="nav-link nav-toggle">
                                            <i class="fa fa-gavel"></i> Arrow Toggle
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="fa fa-paper-plane"></i> Sample Link 1
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="fa fa-power-off"></i> Sample Link 1
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="fa fa-recycle"></i> Sample Link 1
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fa fa-volume-up"></i> Item 3
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end sidebar menu -->
            <!-- start page content -->
            @RenderBody()
            <!-- end page content -->
            <!-- start chat sidebar -->
            <div class="chat-sidebar-container" data-close-on-body-click="false">
                <div class="chat-sidebar">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#quick_sidebar_tab_1" class="nav-link active tab-icon" data-toggle="tab">
                                <i class="material-icons">chat</i>Chat
                                <span class="badge badge-danger">4</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#quick_sidebar_tab_3" class="nav-link tab-icon" data-toggle="tab">
                                <i class="material-icons">settings</i> Settings
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!-- Start Doctor Chat -->
                        <div class="tab-pane active chat-sidebar-chat in active show" role="tabpanel" id="quick_sidebar_tab_1">
                            <div class="chat-sidebar-list">
                                <div class="chat-sidebar-chat-users slimscroll-style" data-rail-color="#ddd" data-wrapper-class="chat-sidebar-list">
                                    <div class="chat-header"><h5 class="list-heading">Online</h5></div>
                                    <ul class="media-list list-items">
                                        <li class="media">
                                            <img class="media-object" src="img/doc/doc3.jpg" width="35" height="35" alt="...">
                                            <i class="online dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">John Deo</h5>
                                                <div class="media-heading-sub">Spine Surgeon</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-success">5</span>
                                            </div> <img class="media-object" src="img/doc/doc1.jpg" width="35" height="35" alt="...">
                                            <i class="busy dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Rajesh</h5>
                                                <div class="media-heading-sub">Director</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="img/doc/doc5.jpg" width="35" height="35" alt="...">
                                            <i class="away dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Jacob Ryan</h5>
                                                <div class="media-heading-sub">Ortho Surgeon</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-danger">8</span>
                                            </div> <img class="media-object" src="img/doc/doc4.jpg" width="35" height="35" alt="...">
                                            <i class="online dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Kehn Anderson</h5>
                                                <div class="media-heading-sub">CEO</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="img/doc/doc2.jpg" width="35" height="35" alt="...">
                                            <i class="busy dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Sarah Smith</h5>
                                                <div class="media-heading-sub">Anaesthetics</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="img/doc/doc7.jpg" width="35" height="35" alt="...">
                                            <i class="online dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Vlad Cardella</h5>
                                                <div class="media-heading-sub">Cardiologist</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="chat-header"><h5 class="list-heading">Offline</h5></div>
                                    <ul class="media-list list-items">
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-warning">4</span>
                                            </div> <img class="media-object" src="img/doc/doc6.jpg" width="35" height="35" alt="...">
                                            <i class="offline dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Jennifer Maklen</h5>
                                                <div class="media-heading-sub">Nurse</div>
                                                <div class="media-heading-small">Last seen 01:20 AM</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="img/doc/doc8.jpg" width="35" height="35" alt="...">
                                            <i class="offline dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Lina Smith</h5>
                                                <div class="media-heading-sub">Ortho Surgeon</div>
                                                <div class="media-heading-small">Last seen 11:14 PM</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-success">9</span>
                                            </div> <img class="media-object" src="img/doc/doc9.jpg" width="35" height="35" alt="...">
                                            <i class="offline dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Jeff Adam</h5>
                                                <div class="media-heading-sub">Compounder</div>
                                                <div class="media-heading-small">Last seen 3:31 PM</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="img/doc/doc10.jpg" width="35" height="35" alt="...">
                                            <i class="offline dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Anjelina Cardella</h5>
                                                <div class="media-heading-sub">Physiotherapist</div>
                                                <div class="media-heading-small">Last seen 7:45 PM</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chat-sidebar-item">
                                <div class="chat-sidebar-chat-user">
                                    <div class="page-quick-sidemenu">
                                        <a href="javascript:;" class="chat-sidebar-back-to-list">
                                            <i class="fa fa-angle-double-left"></i>Back
                                        </a>
                                    </div>
                                    <div class="chat-sidebar-chat-user-messages">
                                        <div class="post out">
                                            <img class="avatar" alt="" src="img/dp.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Kiran Patel</a> <span class="datetime">9:10</span>
                                                <span class="body-out"> could you send me menu icons ? </span>
                                            </div>
                                        </div>
                                        <div class="post in">
                                            <img class="avatar" alt="" src="img/doc/doc5.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Jacob Ryan</a> <span class="datetime">9:10</span>
                                                <span class="body"> please give me 10 minutes. </span>
                                            </div>
                                        </div>
                                        <div class="post out">
                                            <img class="avatar" alt="" src="img/dp.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Kiran Patel</a> <span class="datetime">9:11</span>
                                                <span class="body-out"> ok fine :) </span>
                                            </div>
                                        </div>
                                        <div class="post in">
                                            <img class="avatar" alt="" src="img/doc/doc5.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Jacob Ryan</a> <span class="datetime">9:22</span>
                                                <span class="body">
                                                    Sorry for
                                                    the delay. i sent mail to you. let me know if it is ok or not.
                                                </span>
                                            </div>
                                        </div>
                                        <div class="post out">
                                            <img class="avatar" alt="" src="img/dp.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Kiran Patel</a> <span class="datetime">9:26</span>
                                                <span class="body-out"> it is perfect! :) </span>
                                            </div>
                                        </div>
                                        <div class="post out">
                                            <img class="avatar" alt="" src="img/dp.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Kiran Patel</a> <span class="datetime">9:26</span>
                                                <span class="body-out"> Great! Thanks. </span>
                                            </div>
                                        </div>
                                        <div class="post in">
                                            <img class="avatar" alt="" src="img/doc/doc5.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Jacob Ryan</a> <span class="datetime">9:27</span>
                                                <span class="body"> it is my pleasure :) </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-sidebar-chat-user-form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Type a message here...">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn deepPink-bgcolor">
                                                    <i class="fa fa-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Doctor Chat -->
                        <!-- Start Setting Panel -->
                        <div class="tab-pane chat-sidebar-settings" role="tabpanel" id="quick_sidebar_tab_3">
                            <div class="chat-sidebar-settings-list slimscroll-style">
                                <div class="chat-header"><h5 class="list-heading">Layout Settings</h5></div>
                                <div class="chatpane inner-content ">
                                    <div class="settings-list">
                                        <div class="setting-item">
                                            <div class="setting-text">Sidebar Position</div>
                                            <div class="setting-set">
                                                <select class="sidebar-pos-option form-control input-inline input-sm input-small ">
                                                    <option value="left" selected="selected">Left</option>
                                                    <option value="right">Right</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Header</div>
                                            <div class="setting-set">
                                                <select class="page-header-option form-control input-inline input-sm input-small ">
                                                    <option value="fixed" selected="selected">Fixed</option>
                                                    <option value="default">Default</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Sidebar Menu </div>
                                            <div class="setting-set">
                                                <select class="sidebar-menu-option form-control input-inline input-sm input-small ">
                                                    <option value="accordion" selected="selected">Accordion</option>
                                                    <option value="hover">Hover</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Footer</div>
                                            <div class="setting-set">
                                                <select class="page-footer-option form-control input-inline input-sm input-small ">
                                                    <option value="fixed">Fixed</option>
                                                    <option value="default" selected="selected">Default</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-header"><h5 class="list-heading">Account Settings</h5></div>
                                    <div class="settings-list">
                                        <div class="setting-item">
                                            <div class="setting-text">Notifications</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-1">
                                                        <input type="checkbox" id="switch-1"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Show Online</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-7">
                                                        <input type="checkbox" id="switch-7"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Status</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-2">
                                                        <input type="checkbox" id="switch-2"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">2 Steps Verification</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-3">
                                                        <input type="checkbox" id="switch-3"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-header"><h5 class="list-heading">General Settings</h5></div>
                                    <div class="settings-list">
                                        <div class="setting-item">
                                            <div class="setting-text">Location</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-4">
                                                        <input type="checkbox" id="switch-4"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Save Histry</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-5">
                                                        <input type="checkbox" id="switch-5"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Auto Updates</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-6">
                                                        <input type="checkbox" id="switch-6"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat sidebar -->
        </div>
        <!-- end page container -->
        <!-- start footer -->
        <div class="page-footer">
            <div class="page-footer-inner">
                2018 &copy; Sistema Integrado de Saúde
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- end footer -->
    </div>
    <!-- start js include path -->
    <script src="~/Content/assets/jquery.min.js"></script>
    <script src="~/Content/assets/popper/popper.js"></script>
    <script src="~/Content/assets/jquery.blockui.min.js"></script>
    <script src="~/Content/assets/jquery.slimscroll.js"></script>
    <script src="~/Content/assets/jquery.sparkline.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- Common js-->
    <script src="~/Content/assets/app.js"></script>
    <script src="~/Content/assets/profile.js"></script>
    <script src="~/Content/assets/layout.js"></script>
    <script src="~/Content/assets/theme-color.js"></script>
    <!-- Material -->
    <script src="~/Content/assets/material/material.min.js"></script>
    <!-- end js include path -->

</body>
</html>