﻿
@{
    Layout = null;

    /** DECLARAÇÃO E INICIALIZAÇÃO DAS VARIÁVEIS LOCAIS **/
    SIS.Models.Users.Hospital hospital_user = null;
    SIS.Models.Users.Person person_user = null;

    if (ViewBag.user_type.Equals("Hospital"))
    {
        hospital_user = (SIS.Models.Users.Hospital)Session["usuario"];
    }
    else
    {
        person_user = (SIS.Models.Users.Person)Session["usuario"];
    }
}

<!DOCTYPE html>
<html lang="pt-br">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>@ViewBag.Title • SIS</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="~/Content/assets/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Material Design Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--bootstrap -->
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/assets/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" media="screen">
    <!-- wizard -->
    <link href="~/Content/assets/steps/steps.css" rel="stylesheet">
    <!-- data tables -->
    <link href="~/Content/assets/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/Content/assets/material/material.min.css">
    <link rel="stylesheet" href="~/Content/css/material_style.css">
    <!-- Theme Styles -->
    <link href="~/Content/css/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- Date Time item CSS -->
    <link rel="stylesheet" href="~/Content/assets/material-datetimepicker/bootstrap-material-datetimepicker.css" />
    <!-- dropzone -->
    <link href="~/Content/assets/dropzone/dropzone.css" rel="stylesheet" media="screen">
    <!--tagsinput-->
    <link href="~/Content/assets/jquery-tags-input/jquery-tags-input.css" rel="stylesheet">
    <!--select2-->
    <link href="~/Content/assets/select2/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Content/img/my_images/favicon/favicon.ico" />
</head>
<!-- END HEAD -->
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
    <div class="page-wrapper">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- logo start -->
                <div class="page-logo">
                    <a href="#">
                        <span class="logo-icon fa fa-stethoscope fa-rotate-45"></span>
                        <span class="logo-default">SIS</span>
                    </a>
                </div>
                <!-- logo end -->
                <ul class="nav navbar-nav navbar-left in">
                    <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                </ul>
                <!-- start mobile menu -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
            </div>
        </div>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container" style="background-color: #eaeef3;">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                    <div id="remove-scroll" class="left-sidemenu">
                        <ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="sidebar-user-panel">
                                <div class="user-panel">
                                    <div class="pull-left image">
                                        <img src="~/Content/img/imgUsuario.jpg" class="img-circle user-img-circle" id="imgUsuario" alt="User Image" />
                                    </div>
                                    <div class="pull-left info">
                                        @if (hospital_user != null)
                                        {
                                            <p id="nomeUsuario">@hospital_user.Nome_fantasia</p>
                                        }
                                        else
                                        {
                                            <p id="nomeUsuario">@person_user.Nome @person_user.Sobrenome</p>
                                        }
                                        <a href="#"><span class="txtOnline" id="tipoUsuario">@ViewBag.user_type</span></a>
                                    </div>
                                </div>
                            </li>
                            
                            <!--FUNCOES QUE O USUARIO PODE USAR-->
                            @if (ViewBag.user_type == "Administrador")
                            {
                                <li class="nav-item active open ">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">account_circle</i>
                                        <span class="title">Perfil</span>
                                        <span class="selected"></span>
                                        <span class="arrow open"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item active open ">
                                            <a href="@Url.Action("Administrator_profile", "Administrator")" class="nav-link">
                                                <span class="title">Ver perfil</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        @*<li class="nav-item">
                                            <a href="@Url.Action("Change_profile", "Administrator")" class="nav-link">
                                                <span class="title">Alterar perfil</span>
                                            </a>
                                        </li>*@
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">local_hospital</i>
                                        <span class="title">Hospitais</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Register_hospital", "Administrator")" class="nav-link">
                                                <span class="title">Cadastrar hospital</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("List_hospitals", "Administrator")" class="nav-link">
                                                <span class="title">Listar hospitais</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            @if (ViewBag.user_type == "Hospital")
                            {
                                <li class="nav-item active open ">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">account_circle</i>
                                        <span class="title">Perfil</span>
                                        <span class="selected"></span>
                                        <span class="arrow open"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item active open ">
                                            <a href="@Url.Action("Hospital_profile", "Hospital")" class="nav-link">
                                                <span class="title">Ver perfil</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        @*<li class="nav-item">
                                            <a href="@Url.Action("Change_profile", "Hospital")" class="nav-link">
                                                <span class="title">Alterar perfil</span>
                                            </a>
                                        </li>*@
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">person</i>
                                        <span class="title">Recepcionistas</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Register_receptionist", "Hospital")" class="nav-link">
                                                <span class="title">Cadastrar recepcionista</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("List_receptionists", "Hospital")" class="nav-link">
                                                <span class="title">Listar recepcionistas</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">person</i>
                                        <span class="title">Médicos</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Register_doctor", "Hospital")" class="nav-link">
                                                <span class="title">Cadastrar médico</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("List_doctors", "Hospital")" class="nav-link">
                                                <span class="title">Listar médicos</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            @if (ViewBag.user_type == "Recepcionista")
                            {
                                <li class="nav-item active open ">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">account_circle</i>
                                        <span class="title">Perfil</span>
                                        <span class="selected"></span>
                                        <span class="arrow open"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item active open ">
                                            <a href="@Url.Action("Receptionist_profile", "Receptionist")" class="nav-link">
                                                <span class="title">Ver perfil</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        @*<li class="nav-item">
                                            <a href="@Url.Action("Change_profile", "Receptionist")" class="nav-link">
                                                <span class="title">Alterar perfil</span>
                                            </a>
                                        </li>*@
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">accessible</i>
                                        <span class="title">Pacientes</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Register_patient", "Receptionist")" class="nav-link">
                                                <span class="title">Cadastrar paciente</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("List_patients", "Receptionist")" class="nav-link">
                                                <span class="title">Listar pacientes</span>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">assignment</i>
                                        <span class="title">Agenda</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Register_appointment", "Receptionist")" class="nav-link">
                                                <span class="title">Agendar consulta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            @if (ViewBag.user_type == "Médico")
                            {
                                <li class="nav-item active open ">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">account_circle</i>
                                        <span class="title">Perfil</span>
                                        <span class="selected"></span>
                                        <span class="arrow open"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item active open ">
                                            <a href="@Url.Action("Doctor_profile", "Doctor")" class="nav-link">
                                                <span class="title">Ver perfil</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        @*<li class="nav-item">
                                            <a href="@Url.Action("Change_profile", "Doctor")" class="nav-link">
                                                <span class="title">Alterar perfil</span>
                                            </a>
                                        </li>*@
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">accessible</i>
                                        <span class="title">Pacientes</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="@Url.Action("List_patients", "Doctor")" class="nav-link">
                                                <span class="title">Listar pacientes</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">assignment</i>
                                        <span class="title">Agenda</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="@Url.Action("List_Appointment", "Doctor")" class="nav-link">
                                                <span class="title">Consultas</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("List_Exames", "Doctor")" class="nav-link">
                                                <span class="title">Exames</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            @if (ViewBag.user_type == ("Paciente"))
                            {
                                <li class="nav-item active open ">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">account_circle</i>
                                        <span class="title">Perfil</span>
                                        <span class="selected"></span>
                                        <span class="arrow open"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item active open ">
                                            <a href="@Url.Action("Patient_profile", "Patient")" class="nav-link">
                                                <span class="title">Ver perfil</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        @*<li class="nav-item">
                                            <a href="@Url.Action("Change_profile", "Patient")" class="nav-link">
                                                <span class="title">Alterar perfil</span>
                                            </a>
                                        </li>*@
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="material-icons">assignment</i>
                                        <span class="title">Agenda</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="@Url.Action("List_appointment", "Patient")" class="nav-link">
                                                <span class="title">Listar consultas</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("List_exames", "Patient")" class="nav-link">
                                                <span class="title">Listar exames</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end sidebar menu -->
            <!-- start page content -->
            @RenderBody()
            <!-- end page content -->
            <!-- start chat sidebar -->
            <div class="chat-sidebar-container" data-close-on-body-click="false">
                <div class="chat-sidebar">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#quick_sidebar_tab_1" class="nav-link active tab-icon" data-toggle="tab">
                                <i class="material-icons">chat</i>Chat
                                <span class="badge badge-danger">4</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#quick_sidebar_tab_3" class="nav-link tab-icon" data-toggle="tab">
                                <i class="material-icons">settings</i> Settings
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!-- Start Doctor Chat -->
                        <div class="tab-pane active chat-sidebar-chat in active show" role="tabpanel" id="quick_sidebar_tab_1">
                            <div class="chat-sidebar-list">
                                <div class="chat-sidebar-chat-users slimscroll-style" data-rail-color="#ddd" data-wrapper-class="chat-sidebar-list">
                                    <div class="chat-header"><h5 class="list-heading">Online</h5></div>
                                    <ul class="media-list list-items">
                                        <li class="media">
                                            <img class="media-object" src="~/Content/img/doc/doc3.jpg" width="35" height="35" alt="...">
                                            <i class="online dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">John Deo</h5>
                                                <div class="media-heading-sub">Spine Surgeon</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-success">5</span>
                                            </div> <img class="media-object" src="~/Content/img/doc/doc1.jpg" width="35" height="35" alt="...">
                                            <i class="busy dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Rajesh</h5>
                                                <div class="media-heading-sub">Director</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="~/Content/img/doc/doc5.jpg" width="35" height="35" alt="...">
                                            <i class="away dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Jacob Ryan</h5>
                                                <div class="media-heading-sub">Ortho Surgeon</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-danger">8</span>
                                            </div> <img class="media-object" src="~/Content/img/doc/doc4.jpg" width="35" height="35" alt="...">
                                            <i class="online dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Kehn Anderson</h5>
                                                <div class="media-heading-sub">CEO</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="~/Content/img/doc/doc2.jpg" width="35" height="35" alt="...">
                                            <i class="busy dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Sarah Smith</h5>
                                                <div class="media-heading-sub">Anaesthetics</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="~/Content/img/doc/doc7.jpg" width="35" height="35" alt="...">
                                            <i class="online dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Vlad Cardella</h5>
                                                <div class="media-heading-sub">Cardiologist</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="chat-header"><h5 class="list-heading">Offline</h5></div>
                                    <ul class="media-list list-items">
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-warning">4</span>
                                            </div> <img class="media-object" src="~/Content/img/doc/doc6.jpg" width="35" height="35" alt="...">
                                            <i class="offline dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Jennifer Maklen</h5>
                                                <div class="media-heading-sub">Nurse</div>
                                                <div class="media-heading-small">Last seen 01:20 AM</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="~/Content/img/doc/doc8.jpg" width="35" height="35" alt="...">
                                            <i class="offline dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Lina Smith</h5>
                                                <div class="media-heading-sub">Ortho Surgeon</div>
                                                <div class="media-heading-small">Last seen 11:14 PM</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-success">9</span>
                                            </div> <img class="media-object" src="~/Content/img/doc/doc9.jpg" width="35" height="35" alt="...">
                                            <i class="offline dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Jeff Adam</h5>
                                                <div class="media-heading-sub">Compounder</div>
                                                <div class="media-heading-small">Last seen 3:31 PM</div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="~/Content/img/doc/doc10.jpg" width="35" height="35" alt="...">
                                            <i class="offline dot"></i>
                                            <div class="media-body">
                                                <h5 class="media-heading">Anjelina Cardella</h5>
                                                <div class="media-heading-sub">Physiotherapist</div>
                                                <div class="media-heading-small">Last seen 7:45 PM</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="chat-sidebar-item">
                            <div class="chat-sidebar-chat-user">
                                <div class="page-quick-sidemenu">
                                    <a href="javascript:;" class="chat-sidebar-back-to-list">
                                        <i class="fa fa-angle-double-left"></i>Back
                                    </a>
                                    <div class="chat-sidebar-chat-user-messages">
                                        <div class="post out">
                                            <img class="avatar" alt="" src="~/Content/img/dp.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Kiran Patel</a> <span class="datetime">9:10</span>
                                                <span class="body-out"> could you send me menu icons ? </span>
                                            </div>
                                        </div>
                                        <div class="post in">
                                            <img class="avatar" alt="" src="~/Content/img/doc/doc5.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Jacob Ryan</a> <span class="datetime">9:10</span>
                                                <span class="body"> please give me 10 minutes. </span>
                                            </div>
                                        </div>
                                        <div class="post out">
                                            <img class="avatar" alt="" src="~/Content/img/dp.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Kiran Patel</a> <span class="datetime">9:11</span>
                                                <span class="body-out"> ok fine :) </span>
                                            </div>
                                        </div>
                                        <div class="post in">
                                            <img class="avatar" alt="" src="~/Content/img/doc/doc5.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Jacob Ryan</a> <span class="datetime">9:22</span>
                                                <span class="body">
                                                    Sorry for
                                                    the delay. i sent mail to you. let me know if it is ok or not.
                                                </span>
                                            </div>
                                        </div>
                                        <div class="post out">
                                            <img class="avatar" alt="" src="~/Content/img/dp.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Kiran Patel</a> <span class="datetime">9:26</span>
                                                <span class="body-out"> it is perfect! :) </span>
                                            </div>
                                        </div>
                                        <div class="post out">
                                            <img class="avatar" alt="" src="~/Content/img/dp.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Kiran Patel</a> <span class="datetime">9:26</span>
                                                <span class="body-out"> Great! Thanks. </span>
                                            </div>
                                        </div>
                                        <div class="post in">
                                            <img class="avatar" alt="" src="~/Content/img/doc/doc5.jpg" />
                                            <div class="message">
                                                <span class="arrow"></span> <a href="javascript:;" class="name">Jacob Ryan</a> <span class="datetime">9:27</span>
                                                <span class="body"> it is my pleasure :) </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-sidebar-chat-user-form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Type a message here...">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn deepPink-bgcolor">
                                                    <i class="fa fa-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Doctor Chat -->
                        <!-- Start Setting Panel -->
                        <div class="tab-pane chat-sidebar-settings" role="tabpanel" id="quick_sidebar_tab_3">
                            <div class="chat-sidebar-settings-list slimscroll-style">
                                <div class="chat-header"><h5 class="list-heading">Layout Settings</h5></div>
                                <div class="chatpane inner-content ">
                                    <div class="settings-list">
                                        <div class="setting-item">
                                            <div class="setting-text">Sidebar Position</div>
                                            <div class="setting-set">
                                                <select class="sidebar-pos-option form-control input-inline input-sm input-small ">
                                                    <option value="left" selected="selected">Left</option>
                                                    <option value="right">Right</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Header</div>
                                            <div class="setting-set">
                                                <select class="page-header-option form-control input-inline input-sm input-small ">
                                                    <option value="fixed" selected="selected">Fixed</option>
                                                    <option value="default">Default</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Sidebar Menu </div>
                                            <div class="setting-set">
                                                <select class="sidebar-menu-option form-control input-inline input-sm input-small ">
                                                    <option value="accordion" selected="selected">Accordion</option>
                                                    <option value="hover">Hover</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Footer</div>
                                            <div class="setting-set">
                                                <select class="page-footer-option form-control input-inline input-sm input-small ">
                                                    <option value="fixed">Fixed</option>
                                                    <option value="default" selected="selected">Default</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-header"><h5 class="list-heading">Account Settings</h5></div>
                                    <div class="settings-list">
                                        <div class="setting-item">
                                            <div class="setting-text">Notifications</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-1">
                                                        <input type="checkbox" id="switch-1"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Show Online</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-7">
                                                        <input type="checkbox" id="switch-7"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Status</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-2">
                                                        <input type="checkbox" id="switch-2"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">2 Steps Verification</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-3">
                                                        <input type="checkbox" id="switch-3"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-header"><h5 class="list-heading">General Settings</h5></div>
                                    <div class="settings-list">
                                        <div class="setting-item">
                                            <div class="setting-text">Location</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-4">
                                                        <input type="checkbox" id="switch-4"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Save Histry</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-5">
                                                        <input type="checkbox" id="switch-5"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Auto Updates</div>
                                            <div class="setting-set">
                                                <div class="switch">
                                                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                           for="switch-6">
                                                        <input type="checkbox" id="switch-6"
                                                               class="mdl-switch__input" checked>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat sidebar -->
        </div>
        <!-- end page container -->
        <!-- start footer -->
        <div class="page-footer">
            <div class="page-footer-inner">
                2018 &copy; Sistema Integrado de Saúde
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- end footer -->
    </div>
    <!-- start js include path -->
    <script src="~/Content/assets/jquery.min.js"></script>
    <script src="~/Content/assets/popper/popper.js"></script>
    <script src="~/Content/assets/jquery.blockui.min.js"></script>
    <script src="~/Content/assets/jquery.slimscroll.js"></script>
    <script src="~/Content/assets/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/jquery-validation/js/additional-methods.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/Content/assets/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="~/Content/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js" charset="UTF-8"></script>
    <script src="~/Content/assets/bootstrap-colorpicker/js/bootstrap-colorpicker-init.js" charset="UTF-8"></script>
    <script src="~/Content/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script src="~/Content/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker-init.js" charset="UTF-8"></script>
    <script src="~/Content/assets/register_patient.js"></script>
    <!-- wizard -->
    <script src="~/Content/assets/steps/jquery.steps.js"></script>
    <script src="~/Content/assets/steps/steps-data.js"></script>
    <!-- data tables -->
    <script src="~/Content/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/table_data.js"></script>
    <!-- Common js-->
    <script src="~/Content/assets/app.js"></script>
    <script src="~/Content/assets/form-validation.js"></script>
    <script src="~/Content/assets/layout.js"></script>
    <script src="~/Content/assets/theme-color.js"></script>
    <!-- Material -->
    <script src="~/Content/assets/material/material.min.js"></script>
    <script src="~/Content/assets/material-datetimepicker/moment-with-locales.min.js"></script>
    <script src="~/Content/assets/material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="~/Content/assets/material-datetimepicker/datetimepicker.js"></script>
    <!-- dropzone -->
    <script src="~/Content/assets/dropzone/dropzone.js"></script>
    <script src="~/Content/assets/dropzone/dropzone-call.js"></script>
    <!--tags input-->
    <script src="~/Content/assets/jquery-tags-input/jquery-tags-input.js"></script>
    <script src="~/Content/assets/jquery-tags-input/jquery-tags-input-init.js"></script>
    <!--select2-->
    <script src="~/Content/assets/select2/js/select2.js"></script>
    <script src="~/Content/assets/select2/js/select2-init.js"></script>
    <!-- end js include path -->

    <script>
        function carregaFoto()
        {
            $.post("/Home/CarregaFoto", {}, function (data) {
                if (data.length > 0)
                    document.getElementById('imgUsuario').src = data;
            });
        }

        function carregaFotoHospital() {
            $.post("/Home/CarregaFotoHospital", {}, function (data) {
                if (data.length > 0)
                    document.getElementById('imgUsuario').src = data;
            });
        }

        function criaLinkPerfil() {
            document.getElementById('nomeUsuario').href = "/Home/Perfil";
            document.getElementById('nomeUsuario').style = "color: inherit";
        }

        @*function atualizaTipoUsuario() {
            $.post("/Home/TipoUsuarioDetalhado", { nome: "@Request.Cookies["continuar_conectado"]["user_name"]" }, function (data) {
                if (data.length > 0)
                    document.getElementById('tipoUsuario').value = data;
            });
        }*@

        @*document.getElementById('nomeUsuario').innerText = "@Request.Cookies["continuar_conectado"]["user_name"]";*@

        carregaFoto();
        criaLinkPerfil();
    </script>
</body>
</html>