﻿@model SIS.Models.Users.Hospital

@{
    Layout = "~/Views/Shared/blank_page.cshtml";
    ViewBag.Title = "Trocar senha";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Redefinição de senha</header>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        data-mdl-for="panel-button">
                        <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                        <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                        <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
                </div>
                <div class="card-body" id="bar-parent">
                    <form action="CadastrarHospital" id="form_sample_1" class="form-horizontal" method="post">
                        <div class="form-body">
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Senha atual
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="password" name="senhaAtual" id="senhaAtual" data-required="1" placeholder="Senha atual" class="form-control input-height" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Nova senha
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="password" name="novaSenha" id="novaSenha" data-required="1" placeholder="Nova senha" class="form-control input-height" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">
                                Repita a nova senha
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-5">
                                <input type="password" name="novaSenha_repete" id="novaSenha_repete" data-required="1" placeholder="Repita a nova senha" class="form-control input-height" />
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="offset-md-3 col-md-9">
                                    <button type="submit" class="btn btn-info m-r-20">Redefinir senha</button>
                                    <button type="button" class="btn btn-default">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>